<div class="content">
  <div class="container-fluid">
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="header">
            <h4 class="title">Edit Profile</h4>
          </div>
          <div class="content">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                                   html: { method: :put }) do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= render_profile_picutre(resource, '100x100') %>
                    <%= f.file_field :profile_picture, accept: 'iamge/jpeg', class: "form-group" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, required: :true, class: "form-control" %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, required: :true, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :phone_no %>
                    <%= f.text_field :phone_no, required: :true, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group">
                    <%= f.label :date_of_birth %>
                    <%= f.date_field :date_of_birth, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.label :user_type, 'Account Type' %>
                    <div class="form-control">
                      <%= f.radio_button(:user_type, "player", required: :true, id: :user_type_player) %>
                      <%= label_tag(:user_type_player, "player") %>
                      <%= f.radio_button(:user_type, "coach", id: :user_type_coach) %>
                      <%= label_tag(:user_type_coach, "coach") %>
                    </div>
                  </div>
                </div>
              </div>

              <%= f.submit "Update Profile", class: "btn btn-fill btn-info pull-right" %>
              <div class="clearfix"></div>
            <% end %>
            <br><hr>
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-fill btn-danger" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>