<h1>General Users</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= render_profile_picutre(user, "50x50") %></td>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'view profile', user %></td>
      <% if old_salt_signed_in? %>
        <td><%= link_to 'Send Feedback', new_user_feedback_path(user) %></td>
        <td><%= link_to 'Send Payment Request', new_user_payment_path(user) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<hr>
<%= paginate @users %>
<%= page_entries_info @users %>
