<div><%= render_profile_picutre(@user, "100x100") %></div>

<div>
  <strong><%= @user.full_name %></strong>
</div>
<div>
  <strong>User Type :</strong>
  <%= @user.user_type %>
</div>
<div>
  <strong>Date of Birth :</strong>
  <%= @user.date_of_birth %>
</div>
<div>
  <strong>Phone Number :</strong>
  <%= @user.phone_no %>
</div>
<div>
  <strong>Email :</strong>
  <%= @user.email %>
</div>
