<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <div class="card">
          <div class="header">
            <h4 class="title">Bank Account</h4>
            <p class="category">Details</p>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-11 text-center">
                <h3>
                  <small>Name</small><br>
                  <%= @account.legal_entity.first_name %>
                  <%= @account.legal_entity.last_name %>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 text-center">
                <h3>
                  <small>Date of Birth</small><br>
                  <%= @account.legal_entity.dob.day %> -
                  <%= @account.legal_entity.dob.month %> -
                  <%= @account.legal_entity.dob.year %>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 text-center">
                <h3>
                  <small>Country</small><br>
                  <%= @account.country %>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 text-center">
                <h3>
                  <small>Account Type</small><br>
                  <%= @account.legal_entity.type %>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 text-center">
                <h3>
                <small>Business Address</small><br>
                <small>Street </small><%= @account.legal_entity.address.line1 %>
                <small>City </small><%= @account.legal_entity.address.city %>
                <small>State </small><%= @account.legal_entity.address.state %>
                <small>Zip </small><%= @account.legal_entity.address.postal_code %>
                </h3><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
