<div class="content">
  <div class="container-fluid">
    <%= render partial: 'shared/errors', locals: {resource: @feedback} %>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Payment Request</h4>
          </div>
          <div class="content">
            <%= form_for [@user, @feedback] do |f| %>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <%= f.label :comments %><br>
                    <%= f.text_area :comments, required: :true, class: "form-control" %>
                  </div>
                </div>
              </div>
              <%= f.submit 'Send', class: "btn btn-info btn-fill pull-right" %>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
