<tr>
  <td><%= appointment.user.full_name %></td>
  <td><%= appointment.user.user_type %></td>
  <td><%= appointment.old_salt.full_name %></td>
  <td><%= appointment.requested_date %></td>
  <td><%= appointment.request_type %></td>
  <td><%= appointment.request_status %></td>
</tr>