<tr>
  <td><%= appointment.user.full_name %></td>
  <td><%= appointment.user.user_type %></td>
  <td><%= appointment.requested_date %></td>
  <td><%= appointment.requested_time.strftime("%H:%M") %></td>
  <td><%= appointment.location %></td>
  <td><%= appointment.request_type.titleize %></td>
  <td><%= appointment.status %></td>
  <td><%= link_to "Show", [current_old_salt, appointment] %></td>
  <% if appointment.pending? %>
    <td><%= link_to "Accept", edit_old_salt_appointment_path(current_old_salt, appointment, status: :accepted) %></td>
    <td><%= link_to "Reject", edit_old_salt_appointment_path(current_old_salt, appointment, status: :rejected) %></td>
    <% end %>
</tr>
