<tr>
  <td><%= appointment.old_salt.full_name %></td>
  <td><%= appointment.requested_date %></td>
  <td><%= appointment.requested_time.strftime("%H:%M") %></td>
  <td><%= appointment.location %></td>
  <td><%= appointment.request_type.titleize %></td>
  <td><%= appointment.status %></td>
  <td><%= link_to "Show", user_appointment_path(current_user,appointment) %></td>
</tr>