<div class="content">
  <div class="container-fluid">
    <%= render partial: 'shared/errors', locals: {resource: @old_salt} %>
    <div class="row">

      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Edit Profile</h4>
          </div>
          <div class="content">
            <%= render 'form' %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <%= image_tag image_path('cover.jpeg') %>
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <%= render_profile_picutre_with_class(@old_salt,'50x50' ,'avatar border-gray') %>
                <h4 class="title"><%= @old_salt.full_name %><br />
                  <small><%= @old_salt.email %></small>
                </h4>
              </a>
            </div>
            <hr>
            <p class="description text-center">
              <small>
                Date of Birth: <%= @old_salt.date_of_birth %><br>
                Phone No: <%= @old_salt.phone_no %>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
