<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card card-user">
          <div class="image">
            <%= image_tag image_path('cover.jpeg') %>
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <%= render_profile_picutre_with_class(@old_salt, '100x100', 'avatar border-gray') %>
                <h4 class="title"><%= @old_salt.full_name %><br />
                   <small><%= @old_salt.email %></small>
                </h4>
              </a>
            </div>
              <hr>
              <p class="description text-center">
                <small>
                  Date of Birth: <%= @old_salt.date_of_birth %><br>
                  Phone No: <%= @old_salt.phone_no %>
                </small>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
