<!DOCTYPE html>
<html>
  <head>
    <title>LaxApp</title>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
    <%= stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag :application, 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'devise/menu/links' %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
