<!DOCTYPE html>
<html>
  <head>
    <title>LaxApp</title>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
    <%= stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag :application, 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <% if old_salt_signed_in? || user_signed_in? %>
        <%= render 'devise/menu/dashboard' %>
        <div class="main-panel">
      <% end %>
        <%= render 'devise/menu/menu_bar' %>
        <% flash.each do |name, msg| -%>
          <% if name == 'notice' %>
            <%= content_tag :div, msg, class: 'alert alert-success' %>
          <% else %>
            <%= content_tag :div, msg, class: 'alert alert-danger' %>
          <% end %>
        <% end -%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
